<h1>Let's Tell You More About Us</h1>
<p><a href="{% url 'home' %}">Home</a>
<a href="{% url 'count' %}">Count</a><p/>

<p>
	<h1> We Are All About Software Development </h1> 
“We take care of your product from beginning to finish creating products that your consumers will love while taking care of your <br/>technical problems. We are comfortable working with all platforms ranging from graphics design to mobile app development, meaning you can <br/>trust us to create products that bring value to both you and society at large.”
</p>